* {
    font-family: 'Glory', sans-serif;
}
.link {
    text-decoration: none;
    color: inherit;
}
.App {
    text-align: center;
}

.border {
    border: 0.5px solid gray;
    border-radius: 4px;
    padding-top: 6px;
}

.btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_container span {
    background: transparent;
    font-size: 12px;
    padding: 0 6px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 4px;
    margin-left: 6px;
}
